$text-color-light: #fefefe;
$text-color-dark: #282c34;

$background-color-light: #cbcbcb;
$background-color-dark: #282c34;

$card-background-color-dark: #55717888;
$card-background-color-light: #aca9a9af;

$name-color-dark: #5AFF31;
$name-color-light: #42b626;

$pipe-color: #389920;

$button-color-dark: #5AFF31;
$button-color-light: #42b626;

$date-color-dark: #d6f8cd;
$date-color-light: #000000;

$xs-device : 400px;
$sm-device : 576px;
$md-device : 768px;
$lg-device : 992px;
$xl-device : 1200px;