@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .app {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      .container {
        width: 96%;
        min-height: 100vh;
        max-width: 900px;
      }
    }

    .app-dark {
      color: $text-color-light;
      background-color: $background-color-dark;
    }

    .app-light {
      color: $text-color-dark;
      background-color: $background-color-light;
    }
  }
}